<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Noticias SENA-CPIC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <app-news [news]="news"></app-news>
</ion-content>
