    <ion-card color="dark">
          <ion-card-header>
            <ion-card-subtitle>
              <span class="text-primary">{{indice+1}}.</span>
              <span class="new-source-name">{{new.source.name}}</span>
            </ion-card-subtitle>
            <ion-card-title>
              {{new.title}}
            </ion-card-title>
          </ion-card-header>
          <ion-img *ngIf="new.urlToImage" [src]="new.urlToImage">
          </ion-img>
          <ion-card-content>
            <p>
            {{new.description}}
            </p>
          </ion-card-content>
      </ion-card> 
    
    
